/*
Estilos de formatos
*/
*{
    margin: 0;
    box-sizing: border-box;
}

body{

    
    font-family: sans-serif;
    padding: 80px 20px 0;

}

.header{

    position: fixed;
    background-color:#000099;/*#076AF0;*/

    top: 0;
    height: 80px;
    left: 0;
    width: 100%;

}

.nav{

    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{

    text-decoration: none;
    color: white;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40PX;
    line-height: 80px;
    margin-right: 18px;
}
.logo-img{
    margin-right: 0;
    line-height: 80px;

}
.nav-menu{

    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
}

.nave-menu-item{

    font-size: 18px;
    margin: 0 40px;
    line-height: 80px;
}
.nave-menu-link{
    padding: 10px 14px;
    border-radius: 8px;
}
.nave-menu-link:hover{

    background-color: #024070;
    transition: 0.5s;
}

